:root {
  font-family: "DM Sans", sans-serif;
  --white-color: rgb(236, 234, 234);
  --black-color: #000000;
  --primary-color: #868686;
  --secondary-color: #ebe9e9;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: var(--black-color);
}

a {
  text-decoration: none;
  color: var(--secondary-color);
}

.nav-container {
  display: flex;
  height: 75px;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: white;
  border-radius: 15px;
  margin: 20px auto;
  background: rgba(255, 255, 255, 0.45);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(1.4px);
  border: 1px solid rgba(255, 255, 255, 0.64);
  transition: height 0.3s ease;
}

.nav-container.expanded {
  height: 300px; /* Adjust as needed */
}

.nav-container img {
  height: 70px;
  object-fit: fill;
}

.nav-container img:hover {
  opacity: 0.5;
}

.nav-menu {
  display: flex;
  list-style-type: none;
}

.nav-menu li {
  margin: 0 15px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.3s;
  padding: 10px 12px;
  border-radius: 25px;
}

.nav-menu li:hover {
  background-color: black;
  color: white;
}

.nav-buttons img {
  height: 35px;
  margin-inline-end: 15px;
}

.hamburger-menu {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

/* Responsive Styles */

@media (max-width: 1200px) {
  .nav-container {
    width: 90%;
    padding: 10px;
  }

  .nav-menu li {
    margin: 0 10px;
    font-size: 14px;
  }

  video {
    width: 60%;
  }
}

@media (max-width: 820px) {
  .nav-container {
    flex-direction: row;
    align-items: center;
    width: 95%;
    padding: 10px 15px;
  }

  .nav-container img {
    height: 50px;
    margin-bottom: 10px;
  }

  .nav-menu {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .nav-menu.active {
    display: flex;
  }

  .nav-menu li {
    margin: 5px 0;
    font-size: 14px;
    padding: 8px 10px;
    text-align: center;
  }

  .hamburger-menu {
    display: block;
  }

  .nav-buttons {
    flex-direction: column;
  }

  video {
    width: 70%;
  }

  .footer-column {
    width: 50%;
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .nav-container {
    width: 100%;
    padding: 5px 10px;
  }

  .nav-container img {
    height: 40px;
  }

  .nav-menu li {
    margin: 5px 0;
    font-size: 12px;
  }

  video {
    width: 80%;
  }

  .footer-column {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .nav-container {
    flex-direction: row;
    width: 100%;
    padding: 5px;
    height: 100%;
  }

  .nav-container img {
    height: 35px;
  }

  .nav-menu {
    display: none;
    width: 100%;
  }

  .nav-menu.active {
    display: flex;
  }

  .nav-menu ul {
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .nav-menu li {
    margin: 5px 0;
    font-size: 12px;
    padding: 5px 8px;
    text-align: center;
  }

  .nav-buttons{
    flex-direction: row;
  }

  .hamburger-menu {
    display: block;
  }

  video {
    width: 90%;
  }
}
