:root{
  /* font-family: "Poppins", sans-serif; */ 
  font-family: "DM Sans", sans-serif;
  --white-color: rgb(236, 234, 234);
  --black-color: #000000;
  --primary-color: #868686;
  --secondary-color: #ebe9e9;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body{
  background-color: var(--black-color)
}

header {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: linear-gradient(to right, #565454, #625b5b);
  color: white;
  border-radius: 35px; /* Rounded borders */
  margin: 20px auto; /* Margin from the top */

}

header img {
  height: 50px;
}

nav {
  display: flex;
  list-style-type: none;
}

nav li {
  margin: 0 15px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.3s;
  padding: 10px 12px;
  border-radius: 25px;
}

nav li:hover {
  background-color: black; /* Change background color on hover */
  color: white; /* Ensure text remains readable */
}

video{
  width: 50%;
}