:root{
  font-family: "DM Sans", sans-serif;
  --white-color: rgb(236, 234, 234);
  --black-color: #000000;
  --primary-color: #868686;
  --secondary-color: #ebe9e9;
}

.animate {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.timeline-event,
.service-card {
  opacity: 0;
  transform: translateY(20px);
}

.about-us-container.animate .timeline-event,
.mission-services-container.animate .service-card {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}





/* Home Section Stylesheet */


.nav-buttons img{
  height: 30px;
  margin-inline-end: 15px;
}

.home-container {
  position: relative;
  width: 80%;
  height: 90vh; /* Adjust height as needed */
  margin: 10px auto;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.text-overlay {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  
}


.text-overlay h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  width: 50%;
  margin: 10px auto;
}

.text-overlay p {
  font-size: 1.25rem;
  width: 75%;
  margin: 10px auto;
}

.text-overlay button{
  height: 30px; 
  width: 175px;
  font-size: 15px;
  padding: 5px;
  border-radius: 10px;
  border: none;
  margin-top: 25px;
  margin-inline-end: 20px;
  background: rgba(255, 255, 255, 0.45);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(1.4px);
  border: 1px solid rgba(255, 255, 255, 0.64);

}


/* About Us Style Sheet */

.about-us-container h1{
  color: var(--secondary-color);
  font-size: 35px;

}


.about-us-container {
  padding: 20px;
  background-color: var(--black-color);
  text-align: center;
  height: 50vh;


}



.mission-statement {
  margin-bottom: -100px;
  padding: 20px; /* Adjust the padding as needed */
  color: var(--secondary-color); /* Ensures text color is readable */
  z-index: 0; /* Ensure text is on the same level as the pseudo-element */
  height: 20vh;
}


.mission-statement h1, 
.mission-statement p {
  position: relative;
  z-index: 1; /* Ensure text is above the overlay */
}


.mission-services-container {
  padding: 20px;
  width: 95%;
  margin: 10px auto 10px auto;
}

.mission-statement {
  padding: 20px;
  background-color: var(--black-color);
  text-align: center;
  color: var(--secondary-color);
}

.mission-statement h1 {
  font-size: 35px;
  margin-top: 10px;
}

.mission-statement p {
  font-size: 16px;
  margin: 15px auto;
  width: 50%;

}

.service-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.service-card {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.service-card img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.service-card .service-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: var(--secondary-color);
  opacity: 0;
  transition: opacity 0.3s ease;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}

.service-card:hover img {
  transform: scale(1.1);
}

.service-card:hover .service-info {
  opacity: 1;
}

.service-info h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.service-info p {
  font-size: 16px;
}

.service-info button{
  height: 35px;
  width: 160px;
  font-size: 15px;
  margin-top: 15px;
  border: none;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.45);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(1.4px);
  border: 1px solid rgba(255, 255, 255, 0.64);
  text-align: center;

}




/* About Us Timeline Stylesheet */
/* General reset for box-sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.about-intro {
  color: var(--secondary-color);
  margin: 10px auto;
  width: 50%;
  font-size: 16.5px;
}

/* Timeline container */
.timeline {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap; /* Ensure the events do not wrap to the next line */
  overflow-x: auto; /* Allow horizontal scrolling if necessary */
  border-radius: 20px;
  padding: 20px 0;
  width: 80%;
  max-width: 100%; /* Ensure the container does not exceed the viewport width */
  margin: 40px auto;
  overflow: hidden; /* Prevent overflow */
}

/* Timeline event */
.timeline-event {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
  flex-shrink: 0; /* Prevent shrinking */
  width: 300px; /* Set a fixed width for each event */
  max-width: 90%; /* Ensure the events are responsive */
  transition: transform 0.3s; /* Smooth transition for hover effect */
}

.timeline-event:hover {
  transform: translateY(-10px); /* Lift the event on hover */
}

/* Timeline content */
.timeline-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  transition: box-shadow 0.3s; /* Smooth transition for hover effect */
}

.timeline-content:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Enhance shadow on hover */
}

/* Timeline image */
.timeline img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s; 
}

.timeline img:hover {
  transform: scale(1.1); 
}

.artist-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100vh;
}


.artist-section h1{
  color: white;
  margin-bottom: 50px;
  margin-top: 35px;
}

.artist-section {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.artist-section.visible {
  opacity: 1;
  transform: translateY(0);
}

.image-accordion {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 100px;
}

.image-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.image-container h1 {
  margin-bottom: 5px;
}

.accordion-image {
  cursor: pointer;
  width: 205px;
  height: 340px;
  border-radius: 5%; /* Keep the border radius */
  margin: auto 15px;
  object-fit: cover;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.accordion-image:hover {
  opacity: 0.3;
}

.accordion-image.active {
  transform: scale(1.1);
}

.hidden-content {
  margin-top: 10px;
  width: 325px; /* Adjust as needed */
  animation: fadeIn 0.5s ease-in-out;
}

.hidden-content p {
  color: var(--secondary-color);
  margin: 5px auto;
}

.image-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 5%; /* Apply the same border radius here */
}

.image-wrapper:hover .hover-content {
  opacity: 1;
}

.image-wrapper:hover .accordion-image {
  transform: scale(1.1);
}

.hover-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.hover-content h2 {
  color: #ebe9e9;
}

button:hover {
  background-color: black;
  color: white;
}

button {
  background: rgba(255, 255, 255, 0.45);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(1.4px);
  border: 1px solid rgba(255, 255, 255, 0.64);
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.main-section{
  margin-bottom: 100px;
}




/* Animations Section */

@keyframes slide-in-left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.timeline-event {
  opacity: 0; 
  transform: translateX(-100%); 
  transition: transform 1s ease-out, opacity 1s ease-out;
}

.timeline-event.animate {
  opacity: 1;
  transform: translateX(0);
}



/* Media Queries for Responsive Design */

@media (max-width: 1200px) {
  .text-overlay h1 {
    font-size: 2rem;
  }

  .text-overlay p {
    font-size: 1rem;
    width: 90%;
  }

  .text-overlay button {
    width: 150px;
  }

  .about-us-container h1 {
    font-size: 30px;
  }

  .mission-statement p {
    width: 70%;
  }
}


@media (max-width: 820px) {
  .home-container{
    height: 650px;
    margin-bottom: 50px;
    margin-top: -150px;
  }



  .home-container h1 {
    font-size: 20px;
    width: 50%;
    margin: 10px auto;
  }


  .timeline {
    overflow-x: hidden;
    flex-wrap: wrap;
    justify-content: center;
  }

  .timeline-event {
    width: 45%; 
    margin: 10px;
  }

}



@media (max-width: 768px) {
  .home-container{
    height: 650px;
    margin-bottom: 50px;
    margin-top: -300px;
  }

  .text-overlay h1 {
    font-size: 1.5rem;
    width: 50%;
  }

  .text-overlay p {
    font-size: 1rem;
    width: 100%;
  }

  .text-overlay button {
    width: 140px;
  }

  .about-us-container h1 {
    font-size: 25px;
  }

  .mission-statement p {
    width: 80%;
  }

  .timeline {
    width: 80%;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

  }

  .timeline-event {
    margin: 20px 0;
    width: 80%;
  }
}

@media (max-width: 480px) {
  .home-container{
    height: 650px;
    margin-bottom: 50px;
    margin-top: -200px;
  }

  .text-overlay{
    margin: 50px auto;
  }
  
  .text-overlay h1 {
    font-size: 1.2rem;

  }

  .text-overlay p {
    font-size: 0.9rem;
    width: 300px;
  }

  .text-overlay button {
    width: 120px;
    font-size: 13px;
  }

  .about-us-container h1 {
    font-size: 20px;
  }

  .mission-statement p {
    width: 90%;
  }

  .timeline-event {
    width: 100%;
  }
}

